@{
    ViewBag.Title = "HAKKINDA";
}
<h2>@ViewBag.Title.</h2>
<h3>SİSTEMİMİZ NASIL ÇALIŞIR</h3>

<p>Sistemimiz tamamen üniversite öğrencilerine yönelik olarak çalışmaktadır. Üniversite öğrencilerimizi kampüste ve ya kampüs dışında olan etinliklerden haberdar etmek için buradayız.
    Bu sayede öğrenciler sayfamızı takip ederek bütün etkinlikleri hemen öğrenme fırsatını yakalarlar.</p>
