@{
    ViewBag.Title = "İLETİŞİM";
}
<h2>@ViewBag.Title</h2>
<h3>Buradan sizde bize ulaşarak duyurularınızı yayınlatabilirsiniz.</h3>


<address>
    <strong>TELEFON:</strong>0535 781 31 92<br />
    <strong>MAIL:</strong>hsyn_pasa44@hotmail.com
</address>